@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-XBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('/fonts/TTF/AktivGrotesk-XBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'AktivGrotesk', Arial, Helvetica, sans-serif;
}